/* line 3, ../sass/style.scss */
a {
  color: #f0f0f0;
  text-decoration: none;
  padding-bottom: 2px;
  transition-duration: 0.3s;
  position: relative;
}

/* line 11, ../sass/style.scss */
a:hover {
  color: white;
}

/* line 15, ../sass/style.scss */
.linkAnim {
  text-decoration: none;
  padding-bottom: 6px;
  display: block;
  float: left;
  vertical-align: middle;
  transition: all 0.25s;
  position: relative;
}

/* line 25, ../sass/style.scss */
.linkAnim:hover {
  color: white !important;
}

/* line 29, ../sass/style.scss */
.linkAnim:before {
  width: 0%;
  height: 1px;
  content: '';
  background: rgba(255, 255, 255, 0);
  position: absolute;
  transition: all 0.4s;
  bottom: 0;
  left: 20%;
}

/* line 40, ../sass/style.scss */
.linkAnim:hover::before {
  width: 60%;
  content: '';
  background: white;
  position: absolute;
  transition: all 0.3s;
}

/* line 48, ../sass/style.scss */
.separator {
  display: block;
  width: 6px;
  height: 6px;
  margin: 30px auto;
}

/* line 55, ../sass/style.scss */
header {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 8vh 0px;
}
/* line 62, ../sass/style.scss */
header h1 {
  letter-spacing: 12px;
  font-size: 32px;
  margin: 40px 0px 10px 0px;
}
/* line 68, ../sass/style.scss */
header .subtitle {
  font-size: 18px;
  margin: 5px;
}
/* line 73, ../sass/style.scss */
header a {
  font-size: 10px;
  line-height: 1px;
  padding-bottom: 2px;
  color: #d3d3d3;
  border-bottom: 1px solid #7e7e7e;
  font-weight: lighter;
}

/* line 84, ../sass/style.scss */
body {
  background-color: #151515;
  color: #e0e0e0;
  font-family: "openSans";
}
/* line 93, ../sass/style.scss */
body .itMenu {
  display: flex;
  flex-direction: column;
}
/* line 97, ../sass/style.scss */
body .itMenu .project {
  display: block;
  width: 80%;
  max-width: 850px;
  min-width: 250px;
  margin: 40px auto;
  background-color: #181818;
  padding: 20px;
  box-shadow: 6px 10px 12px 10px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 900px) {
  /* line 107, ../sass/style.scss */
  body .itMenu .project .horizontal {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 900px) {
  /* line 107, ../sass/style.scss */
  body .itMenu .project .horizontal {
    display: flex;
    flex-direction: column;
  }
}
/* line 118, ../sass/style.scss */
body .itMenu .project .projMainVisual {
  float: left;
  display: inline-block;
  max-width: 350px;
  min-width: 250px;
  max-height: 350px;
  min-height: 250px;
  width: 80%;
  margin: 20px auto 20px auto;
}
/* line 130, ../sass/style.scss */
body .itMenu .project .projInfos {
  display: flex;
  flex-direction: column;
  float: left;
}
@media screen and (min-width: 900px) {
  /* line 130, ../sass/style.scss */
  body .itMenu .project .projInfos {
    margin-left: 30px;
  }
}
/* line 139, ../sass/style.scss */
body .itMenu .project .projInfos .projTitle {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 5px;
}
/* line 148, ../sass/style.scss */
body .itMenu .project .projInfos .projIitleBox .box {
  background-color: #353535;
  margin: 4px;
  padding: 6px;
  display: inline-block;
}
/* line 155, ../sass/style.scss */
body .itMenu .project .projInfos .projIitleBox .collaborators {
  font-size: 14px;
  font-weight: bold;
  color: #B5B5B5;
}
/* line 161, ../sass/style.scss */
body .itMenu .project .projInfos .projIitleBox .collaborators p {
  display: block;
  float: left;
  margin: 2px 6px;
  padding: 2px 6px;
}
/* line 167, ../sass/style.scss */
body .itMenu .project .projInfos .projIitleBox .collaborators .collab {
  background-color: rgba(0, 0, 0, 0);
  margin: 2px 0px;
  padding: 2px 0px;
  display: block;
  float: left;
  position: relative;
  color: #CCCCCC;
}
/* line 180, ../sass/style.scss */
body .itMenu .project .projInfos .projDesc {
  margin: 10px auto;
  width: 100%;
  font-size: 16px;
  text-align: left;
  letter-spacing: 1.5px;
}
/* line 194, ../sass/style.scss */
body .itMenu .project .projOtherVisuals div {
  width: 30%;
  display: inline-block;
  margin: auto;
  margin: 1%;
}
@media screen and (max-width: 600px) {
  /* line 194, ../sass/style.scss */
  body .itMenu .project .projOtherVisuals div {
    width: 100%;
    height: 150px;
  }
}
/* line 203, ../sass/style.scss */
body .itMenu .project .projOtherVisuals div .thumnail {
  width: 100%;
  margin: auto;
  top: 0px;
}

@font-face {
  font-family: "openSans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "openSans";
  font-weight: lighter;
  src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
  font-family: "openSans";
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.ttf");
}
